button {
  padding: 0.75rem 2rem;
  border: none;
  background-color: #002f4b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4c7685;
}
