.hero {
  display: flex;
  padding: 4rem 2rem;
  background-color: #d2eaf1;
  align-items: center;
  justify-content: space-between;
  background-image: url("/assets/pic1.jpg");
  background-size: cover;
  background-position: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

.right img {
  max-width: 90%;
  height: auto;
}
