.card {
  display: flex;
  background-color: #f8f8f8;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 12px;
}

.text {
  flex: 1;
}

.text h3 {
  font-size: 1.5rem;
  color: #002f4b;
}

.text p {
  color: #555;
  margin: 1rem 0;
}

.text button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #002f4b;
  color: white;
  cursor: pointer;
}

.text button:hover {
  background-color: #4c7685;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  max-width: 100%;
  border-radius: 8px;
}
